In [2]:
import pandas as pd
import random

file = "thucunimorphs.txt"

In [3]:
data = pd.read_csv(file, sep='\t', skiprows=2, names=list('abcdefghijkl'))

data

,a,b,c,d,e,f,g,h,i,j,k,l
0,2,16.18,19,Thucydides,Θουκυδίδης,Θουκυδίδης,1.001.1-001,case4,<NL>N *qoukudi/dhs masc nom sg,NaN,NaN,hs_ou</NL>
1,151,1222.19,1512,Athenian,Ἀθηναῖος,Ἀθηναῖος,1.001.1-002,case4,<NL>N *)aqhnai=os masc nom sg,NaN,NaN,os_h_on</NL>
2,2,16.18,17,to write down,ξυνέγραψε,συγγράφω,1.001.1-003,case1,<NL>V suggra/fw aor ind act 3rd sg,NaN,sig_to_ci,"aor1,reg_conj</NL>"
3,2507,20291.73,20800,the,τὸν,ὁ,1.001.1-004,case1,"<NL>N to/n,o( masc acc sg",NaN,indeclform,article</NL>
4,59,477.54,386,battle,πόλεμον,πόλεμος,1.001.1-005,case1,<NL>N po/lemos masc acc sg,NaN,NaN,os_ou</NL>
...,...,...,...,...,...,...,...,...,...,...,...,...
166523,1229,9947.56,10230,and,καὶ,καί,8.109.2-011,case4,"<NL>N kai/,kai/",NaN,indeclform,conj</NL>
166524,0,0,0,punct,εἰκοστὸν,εἰκοστός,8.109.2-012,case1,"<NL>N ei)kosto/n,ei)kosto/s neut acc sg",NaN,NaN,os_h_on</NL>
166525,12,97.12,97,a year,ἔτος,ἔτος,8.109.2-013,case1,<NL>N e)/tos neut acc sg,NaN,NaN,hs_eos</NL>
166526,0,0,0,punct,πληροῦται,πληρόω,8.109.2-014,case1,<NL>V plhro/w pres ind mp 3rd sg,NaN,contr,"ow_pr,ow_denom</NL>"
166527,.,syntacticbreak,6059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
while (input != 'Quit'): 
    while True:
        randidx = random.randint(0, 166527)
        print(randidx)
        punctuation = data.iloc[randidx]['h']
        if (punctuation == 'punct'):
            continue
        untrimmed = data.iloc[randidx]['i']
        wordlist = untrimmed.split()
        pos = wordlist[0][4:6]

        if (pos == 'N' and len(wordlist) == 5):
            gender = wordlist[-3]
            case = wordlist[-2]
            number = wordlist[-1]
            break
        elif ((pos == 'V' or pos == 'P') and len(wordlist) == 7):
            tense = wordlist[-5]
            mood = wordlist[-4]
            voice = wordlist[-3]
            person = wordlist[-2]
            number = wordlist[-1]
            form = data.iloc[randidx]['e']
            break

    print(wordlist)

    if (pos == 'N'):
        print("What gender is " + data.iloc[randidx]['e'] + "? (Lemma: " + data.iloc[randidx]['f'] + ")")
        print("A. " + "masc")
        print("B. " + "fem")
        print("C. " + "neut")

        input("Input: ")
        if (input == 'A'):
            if (gender == 'masc'):
                print("Correct!")
            else:
                print("Incorrect. The answer is " + gender + ".")
        elif (input == 'B'):
            if (gender == 'fem'):
                print("Correct!")
            else:
                print("Incorrect. The answer is " + gender + ".")
        elif (input == 'C'):
            if (gender == 'neut'):
                print("Correct!")
            else:
                print("Incorrect. The answer is " + gender + ".")
        elif (input == 'Quit'):
            break

In [ ]:
data.iloc[118417]